$primary: #289FA6;
$secondary: #051C2C;
$accent: #DC2648;
$success: #28a745;
$danger: #DC2648;
$bg-hover: #f3f3f3;
$gold: #CA7E50;
$light: white;
$border: #ccc;
$light-text: #969696;
$light-text-2: #A8A8A8;
$image-placeholder: #D9D9D94D;
$primary-bg: #289FA673;

$box-shadow-lvl1: rgba(0, 0, 0, 0.1);
$box-shadow-lvl2: rgba(0, 0, 0, 0.2);

$bg-gradient-side1: rgba(40,159,166,0.2);
$bg-gradient-side2: rgba(255,255,255,0);