.dropdown-level-selector {
    position: relative;
    min-width: 250px;
    cursor: pointer;
    border: 1px solid $border;
    padding: 12px 1rem;
    border-radius: 50px;
    background: $light;
    display: flex;
    flex-direction: column;
}
  
.dropdown-selected {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 5px;
    font-size: 16px;
}
  
.arrow-icon {
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: transform 0.3s ease;
}
  
.arrow-icon.open {
    transform: rotate(180deg);
}
  
.dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    margin: 4px 0;
    width: 100%;
    background: $light;
    border: 1px solid $border;
    list-style: none;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0px 4px 6px $box-shadow-lvl1;
    border-radius: 12px;
    z-index: 100;
}

.dropdown-options li {
    padding: 10px;
    cursor: pointer;
}
  
.dropdown-options li:hover, 
.dropdown-options li.selected {
    background: $bg-hover;
}