.header-nav{
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    .header-wrapper{
        width: 100%;
        height: $header-height;
        padding: 12px 4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        backdrop-filter: blur(30px);
        .header-left{
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        .header-right{
            height: 100%;
            max-height: 100%;
            img{
                max-height: 100%;
                height: 100%;
            }
        }

        &.rtl{
            .header-left{
                order: 0;
                flex-direction: row-reverse;
            }
            .header-right{
                order: 1;
            }
        }
    }
    .nav-link{
        color: $secondary;
        border-radius: 30px;
        margin: 0 0.4rem;
        &:hover{
            background-color: $bg-hover;
        }
    }
    .header-btn{
        min-width: 100px;
        padding: 8px 1rem;
        margin: 0 0.6rem;
        border: none;
    }

    /* Hamburger Menu Button */
    .hamburger-btn {
        display: none;
        background: none;
        border: none;
        cursor: pointer;
        >div{
            width: 60px;
            height: 60px;
            display: flex;
            flex-direction: column;
            gap: 5px;
            justify-content: center;
            align-items: center;
            span {
                width: 25px;
                height: 3px;
                background: #333;
                transition: transform 0.3s ease, opacity 0.3s ease;
            }
            .open:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
            }
            .open:nth-child(2) {
                opacity: 0;
            }
            .open:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
            }
        }
    }
}

/* Expand Animation */
.mobile-menu {
    height: 0;
    transition: height 0.3s ease-in-out;
    position: fixed;
    top: $header-height;
    right: 0;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    backdrop-filter: blur(20px);
    z-index: 1000;
    .mobile-menu-wrapper{
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        .nav-item{
            width: 100%;
            text-align: center;
            font-size: 18px;
        }
        button{
            width: 200px;
        }
    }
}

.backdrop-layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
}

@media screen and (max-width: $SCREEN_LARGE) {
    .header-nav .header-wrapper{
        padding: 12px 1.6rem;
    }
}

@media screen and (max-width: $SCREEN_MEDIUM) {
    .header-nav{
        .header-wrapper{
            padding-left: 4px;
        }
        .header-btn{
            padding: 0.8rem;
        }
        .hamburger-btn{
            display: block;
        }
        .header-left {
            display: none !important;
        }
    }
    .mobile-menu.open-menu{
        display: block;
        height: 370px;
    }
}

