.section-title{
    margin: 2rem 0;
    font-size: 38px;
}
.main-section{
    min-height: 100vh;
    padding-top: $header-height;
    background-image: linear-gradient(-90deg, $primary 0%, $bg-gradient-side2 80%);
    .main-section-bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        img{
            width: 100%;
            height: 100%;
            transform: scaleX(-1);
        }
    }
    .main-section-wrapper{
        display: flex;
        height: 100%;
        .section-right{
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            img{
                max-height: 800px;
                max-width: 480px;
                min-width: 400px;
            }
        }
        .section-left{
            width: 50%;
            padding: 4rem;
            padding-top: 8rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            h1{
                font-size: 46px;
                color: $primary;
            }
            h2{
                font-size: 26px;
                font-weight: 400;
            }
            p{
                max-width: 600px;
                text-align: justify;
                margin: 1.5rem 0;
            }
            button{
                margin: 1rem 0;
                padding: 8px 34px;
                font-size: 20px;
            }
        }
    }
    &.rtl{
        background-image: linear-gradient(90deg, $primary 0%, $bg-gradient-side2 80%);
        .section-title{
            direction: rtl;
        }
        .main-section-bg{
            img{
                transform: scaleX(1);
            }
        }
        .main-section-wrapper{
            flex-direction: row-reverse;
            .section-left{
                padding-top: 10rem;
                align-items: flex-end;
                h1{
                    font-size: 60px;
                    direction: rtl;
                }
                h2{
                    font-size: 40px;
                    direction: rtl;
                }
                p{
                    direction: rtl;
                }
                button{
                    font-size: 28px;
                }
            }
        }
    }
}

.section2{
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .section2-card{
        max-width: 1000px;
        width: 100%;
        height: auto;
        border-radius: 65px;
        background-color: $primary-bg;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem 4rem;
        text-align: justify;
        p{
            margin: 1rem 0;
            span{
                color: $accent;
                font-weight: 500;
            }
        }
        button{
            margin: 1rem 0;
            padding: 8px 34px;
            font-size: 20px;
        }
    }
    &.rtl{
        .section2-card{
            p{
                direction: rtl;
            }
        }
    }
}

.section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0;
    .section3-cards{
        width: 100%;
        margin: 2rem 0;
        display: flex;
        justify-content: center;
        position: relative;
        .cards-bg{
            width: 100%;
            height: 50%;
            background-color: $primary-bg;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
        .cards-wrapper{
            max-width: 1000px;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            .card-container{
                &:nth-child(odd){
                    direction: rtl;
                    h4{
                        justify-self: flex-end;
                        text-align: left;
                    }
                }
                &:nth-child(even){
                    h4{
                        justify-self: flex-start;
                        text-align: left;
                    }
                }
            }
            .card{
                max-width: 500px;
                height: auto;
                border-radius: 25px;
                margin: 1rem 2rem;
                padding: 2rem;
                display: grid;
                justify-content: center;
                align-items: center;
                border: none;
                box-shadow: $box-shadow-lvl2 0px 4px 8px 0px;
                justify-items: center;
                grid-gap: 1rem;
                transform: scale(1);
                transition: all 0.1s ease;
                grid-template-columns: 1fr 150px;
                position: relative;
                &:hover{
                    transform: scale(1.05);
                    box-shadow: $box-shadow-lvl2 0px 4px 14px 0px;
                }
                
                .card-img{
                    width: 130px;
                    height: 130px;
                    border-radius: 25px;
                    border: dashed $primary;
                    border-width: 2px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        max-width: 70px;
                        width: 100%;
                    }
                }
                h4{
                    font-size: 16px;
                }
            }
            &.rtl{
                .card-container{
                    &:nth-child(odd){
                        direction: rtl;
                        h4{
                            justify-self: flex-start;
                            text-align: right;
                        }
                    }
                    &:nth-child(even){
                        h4{
                            justify-self: flex-end;
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
}

.section4{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0;
    padding-bottom: 4rem;
    background: linear-gradient(0deg, $bg-gradient-side1 20%, $bg-gradient-side2 100%);
    .testimonials-wrapper{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 2rem;
        padding: 3rem;
        margin-bottom: 3rem;
        width: 100vw;
        overflow: auto;
        .testimonial-card{
            width: 100%;
            flex: 1;
            max-width: 400px;
            min-width: 300px;
            border-radius: 25px;
            border: 1px solid $border;
            padding: 2rem;
            background-color: $light;
            &:nth-child(2){
                transform: scale(1.07);
                box-shadow: $box-shadow-lvl2 0px 1px 10px 0px;
            }
        }
        .stars{
            img{
                margin: 0 3px 1rem;
            }
        }
        .testimonial{
            margin: 1rem 0 2rem;
            text-align: justify;
        }
        .owner{
            display: flex;
            gap: 1rem;
            .owner-info{
                order: 1;
                h4{
                    font-size: 18px;
                    font-weight: 500;
                }
                p{
                    margin: 0;
                }
            }
            .owner-photo{
                width: 70px;
                height: 70px;
                min-width: 70px;
                order: 0;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        &.rtl{
            .testimonial-card{
                direction: rtl;
            }
        }
    }
    h2{
        span{
            color: $accent;
            font-weight: 500;
        }
    }
}

.usage-wrapper{
    display: flex;
    gap: 50px;
    margin: 7rem 1rem 3rem;
    .usage-card-wrapper{
        position: relative;
        .usage-card{
            border-radius: 10px;
            width: 160px;
            height: 100%;
            box-shadow: 0px 1px 5px 0px $box-shadow-lvl2;
            background-color: $light;
            display: flex;
            flex-direction: column;
            transform: scale(1);
            transition: all 0.1s ease;
            &:hover{
                transform: scale(1.1);
                box-shadow: 0px 1px 14px 0px $box-shadow-lvl2;
            }
        }
        .usage-icon{
            padding: 1.3rem 1rem;
            display: flex;
            justify-content: center;
            img{
                width: 35px;
                height: 35px;
            }
        }
        .usage-text{
            padding: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $image-placeholder;
            text-align: center;
            flex: 1;
        }
        .card-number{
            position: absolute;
            width: 35px;
            height: 35px;
            top: -50px;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 50%;
            border: 1px solid;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
        }
        &:nth-child(2),&:nth-child(4){
            .card-number{
                border-color: $primary;
                color: $primary;
            }
        }
        &:nth-child(1),&:nth-child(3){
            .card-number{
                border-color: $accent;
                color: $accent;
            }
        }
        &:not(:last-child){
            .card-number::after{
                content: "";
                width: 155px;
                height: 0px;
                position: absolute;
                left: 130%;
                background-image: linear-gradient(to right, $secondary 33%, $bg-gradient-side2 0%);
                background-position: bottom;
                background-size: 10px 2px;
                background-repeat: repeat-x;
                height: 1.5px;
            }
        }
        .step-links{
            display: none;
            width: 1.5px;
            height: 100px;
            background-image: linear-gradient(to bottom, $secondary 33%, $bg-gradient-side2 0%);
            background-position: top;
            background-size: 2px 10px;
            background-repeat: repeat-y;
            margin: 1rem auto 0;
        }
    }
    &.rtl{
        flex-direction: row-reverse;
        .usage-card-wrapper{
            &:not(:last-child){
                .card-number::after{
                    content: none;
                }
            }
            &:not(:first-child){
                .card-number::after{
                    content: "";
                    width: 155px;
                    height: 0px;
                    position: absolute;
                    left: 130%;
                    background-image: linear-gradient(to right, $secondary 33%, $bg-gradient-side2 0%);
                    background-position: bottom;
                    background-size: 10px 2px;
                    background-repeat: repeat-x;
                    height: 1.5px;
                }
            }
        }
    }
}

.section5{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6rem;
    h2{
        margin: 4rem 0;
        span{
            color: $accent;
            font-weight: 500;
        }
    }
    .qa-section{
        max-width: 1000px;
        padding: 4rem 5rem;
        margin: 0 2rem;
        border-radius: 30px;
        background-color: $primary-bg;
        $collapsibles-gap: 12px;
    
        .collapsible {
            background-color: $light;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            margin: $collapsibles-gap 0;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            h4{
                font-size: 18px;
            }
            .plus-icon{
                width: 30px;
                height: 30px;
                transform: rotate(0deg);
                transition: transform 0.1s ease-out;
            }
            &.active{
                border-radius: 10px 10px 0 0;
                h4{
                    color: $accent;
                }
                .plus-icon{
                    transform: rotate(45deg);
                }
            }
            *{
                pointer-events: none;
            }
        }
            
        .collapsible:hover {
            background-color: $bg-hover;
        }
        
        .collapsible-content {
            padding: 0 18px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            background-color: $light;
            margin-top: -$collapsibles-gap;
            border-radius: 0 0 10px 10px;
            p{
                margin-top: 0.5rem;
            }
        }
        &.rtl{
            .collapsible{
                flex-direction: row-reverse;
            }
            .collapsible-content{
                p{
                    direction: rtl;
                }
            }
        }
    }
}


@media screen and (max-width: $SCREEN_LARGE) {
    .main-section {
        .main-section-wrapper {
            .section-right {
                img{
                    max-width: 450px;
                }
            }
            .section-left{
                padding: 8rem 2rem 4rem;
                h1{
                    font-size: 50px;
                }
            }
        }
    }
    .section4{
        .testimonials-wrapper{
            justify-content: flex-start;
            .testimonial-card:nth-child(2){
                transform: scale(1);
                box-shadow: none;
            }
        }
    }
}

@media screen and (max-width: $SCREEN_MEDIUM) {
    .section3 {
        .section3-cards {
            .cards-wrapper {
                .card {
                    grid-template-columns: 1fr 100px;
                    .card-img{
                        width: 80px;
                        height: 80px;
                        img{
                            max-width: 50px;
                        }
                    }
                }
            }
        }
    }
    .usage-wrapper{
        gap: 20px;
        .usage-card-wrapper {
            .usage-card{
                width: 130px;
                .usage-text{
                    padding: 1rem;
                }
            }
        }
        .usage-card-wrapper:not(:last-child) {
            .card-number::after{
                width: 96px;
            }
        }
        &.rtl{
            .usage-card-wrapper:not(:first-child) {
                .card-number::after{
                    width: 96px;
                }
            }
        }
    }
}

@media screen and (max-width: $SCREEN_TABLET) {
    .main-section, .main-section.rtl{
        height: auto;
        .main-section-wrapper{
            flex-direction: column;
            .section-left{
                width: 100%;
                padding: 2rem;
                padding-bottom: 0;
                align-items: center;
                text-align: center;
                h1{
                    font-size: 40px;
                }
                h2{
                    font-size: 30px;
                }
                p{
                    text-align: center;
                }
            }
            .section-right{
                width: 100%;
                img{
                    min-width: 300px;
                    width: 300px;
                }
            }
        }
    }

    .section2, .section2.rtl{
        padding: 5rem 2rem;
        .section2-card{
            padding: 1rem 2rem;
            .section-title{
                font-size: 24px;
            }
        }
    }

    .section3{
        .section3-cards{
            .cards-bg{
                display: none;
            }
            .cards-wrapper{
                display: flex;
                flex-direction: column;
                .card-container{
                    position: relative;
                    &::before{
                        content: '';
                        width: 100vw;
                        height: 50%;
                        background-color: $primary-bg;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        z-index: -1;
                    }
                }
                .card{
                    margin: 1rem auto;
                    width: 100%;
                    max-width: 350px;
                    direction: ltr !important;
                    h4{
                        justify-self: flex-start !important;
                        text-align: left !important;
                    }
                }
                &.rtl{
                    .card{
                        direction: rtl !important;
                        h4{
                            justify-self: flex-start !important;
                            text-align: right !important;
                        }
                    }
                }
            }
        }
    }

    .usage-wrapper, .usage-wrapper.rtl{
        flex-direction: column;
        gap: 4rem;
        .usage-card-wrapper{
            .card-number::after{
                display: none;
            }
            .step-links{
                display: block;
            }
        }
    }

    .section5{
        .qa-section{
            padding: 2rem;
            .collapsible{
                h4{
                    font-size: 16px;
                }
            }
        }
    }
}

@media screen and (max-width: $SCREEN_SMALL) {
    .section3{
        .section3-cards{
            .cards-wrapper{
                .card{
                    padding: 1rem 1.6rem;
                    max-width: 280px;
                }
            }
        }
    }
    .section4 {
        .testimonials-wrapper {
            .testimonial-card{
                padding: 1.5rem;
                min-width: 260px;
                .testimonial{
                    font-size: 14px;
                }
                .owner{
                    .owner-info{
                        h4{
                            font-size: 16px;
                        }
                        p{
                            font-size: 14px;
                        }
                    }
                    .owner-photo{
                        width: 50px;
                        height: 50px;
                        min-width: 50px;
                    }
                }
            }
        }
    }
    .section5{
        .qa-section{
            .collapsible{
                h4{
                    font-size: 14px;
                }
            }
            .collapsible-content{
                p{
                    font-size: 12px;
                }
            }
        }
    }
}